html, body {
	background:#fbfbfb;
	font-family: 'RobotoDraft', sans-serif !important;
	margin:0;
	padding:0;
}
#tree {
	float:left;
	min-width:319px;
	border-right:1px solid silver;
	overflow:auto;
	padding:0px 0;
}
#data {
	margin-left:320px;
}
#jstree_search {
	margin-bottom: 14px;
  	padding: 8px;
  	min-width: 330px;
}
#loader {
	margin-left: 18px;
	display: none;
}
#modeRestore{
	margin-top: -15px;
	margin-left: 2px;
	margin-bottom: 28px;
}
.restoreInput {
	margin: 6px;
}
#files_container {
	border: 1px solid #DADADA;
 	background: white;
  	overflow-y: auto; 
  	height: 500px;
    padding-top: 10px;
    margin-top: 10px;
}
#files {
	list-style-type: square;
	padding-left: 20px;
	margin-left: 10px
}
#pathRestore {
	margin: 10px;
	color: #474747;
	display: inline;
}
.title {
	margin: 10px;
}
.description {
	margin: 10px;
	color: #474747;
}
.codeIn {
	font-family: monospace;
	margin-top: -12px;
	margin-bottom: 28px;
	font-size: 14px;
}
.codeIn > p {
	margin-left: 18px;
	margin-bottom: 4px;
}
.par-string {
	margin-bottom: 8px;
}
.listPath {
	margin-left: 6px;
	margin-bottom: 6px;
}
.helpContainer {
	position: absolute;
	right: 0;
	top: 125px;
}

#wrap {
	margin: 0 auto;
}
#header {
	background: #FBFBFB;
	width: 100%;
}
#nav {
	background: #FBFBFB;
	width: 138em;
	margin-bottom: 18px;
}
#main {
	position: absolute;
	right: 0;
	top: 160px;
	width: 450px;
	padding: 15px;
	font-size: 14px;
	padding-right: 4px;
	margin-top: -14px;
}
#sidebar {
	position: relative;
	padding: 10px;
	font-size: 14px;
	margin-top: 0px;
}